<div class=new>
  <%= form_with(model: @post, local: true) do |f| %>
  <div class="actions">
    <%= f.label :body,"タイトル" %>
    <%= f.text_field :body %>
    <%= f.label :content,"内容" %>
    <%= f.text_field :content %>
    <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    </div>
    <%= f.label :lat,"緯度" %>
    <%= f.text_field :lat,:value =>"緯度", id: :lat %>
    <%= f.label :lng,"経度" %>
    <%= f.text_field :lng,:value =>"経度", id: :lng %>
    <div class="form-check form-check-inline">
    <%= f.radio_button :release, '1' ,class:"form-check-input mb-3" %>
    <%= f.label :release, '公開', value: 1 %>
    </div>
    <div class="form-check form-check-inline">
    <%= f.radio_button :release, '0',class:"form-check-input mb-4" %>
    <%= f.label :release, '非公開', value: 0 %>
    </div>
    <%= f.submit %>
  </div>
  <% end %>


  <div class="map">
    <h2>Map</h2>

    <input id="address" type="textbox" value="地名を検索">
    <input type="button" value="検索" onclick="codeAddress()">
    <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
    <div id='map'></div>

    <style>
    #map {
    height: 600px;
    width: 600px;
    }
    </style>
  </div>

<%# 投稿ページから閲覧ページに戻る（自分で作成） %>
<%= link_to '一覧へ戻る', posts_index_path %>

</div>
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 14,
    
  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKSPi47Q4upgG0gVTuzNm64FpMb-kKNnU&callback=initMap" async defer></script>